
.skills{
    width: 100%;
    height: 23rem;
    display: flex;  
    justify-content: center;
    align-items: center;
}

.colaboradores{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}