.AboutMe {
    display: flex;
    flex-direction: column; /* Establecemos una columna para el contenedor principal */
    align-items: center; /* Centramos los elementos verticalmente */
    justify-content: center; /* Centramos los elementos horizontalmente */
    background-color: #0c2233;
    height: auto;
    margin-top: 3rem;
  }
.about{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background-color: #0c2233;
    padding: 2rem;
    gap: 1rem;
}
.img-area{
    width: 100%; /* La imagen ocupará todo el ancho disponible */
    height: auto; /* La altura se ajustará automáticamente para mantener la proporción */
    display: flex;
    justify-content: center;
    align-items: center;
    margin:auto;
    flex: 1;
  padding: 1rem;    
}

.img-area img{
    width: 60%;

}

.title-area{
        text-align: center;
}

.title{
    color: #f6c15b;
    font-size: 2rem;
    margin-bottom: 1rem;
}

.text-area{
    color: white;
    font-size: 1.1rem;
    margin-bottom: 1rem;
    width: 100%;
    flex: 1;
    padding: 1rem;
}

@media (max-width: 768px) {
    /* Para pantallas más pequeñas, apilamos los elementos verticalmente */
    .about{
      flex-direction: column;
    }
    .text-area{
        width: 100%;
        text-align: center;
        font-size: 1rem;
    }
    .AboutMe{
        padding: 1rem;
    }
    
}
  